
body {
  font-family: sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  overflow-x: hidden;
}






/* Main */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20rem;
}



.search-field {
  border: none;
  width: 90%;
  height: max-content;
  font-size: 1.5rem;
}

.search-field:hover,
.search-field:focus-within {
  outline: none;
}

.search-img {
  margin-right: 1.2rem;
}

.searchbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 580px;
  padding: 1rem;
  padding-right: 1.5rem;
  border: 0.1px solid #dddddd;
  border-radius: 30px;
}

.searchbar:hover,
.searchbar:focus-within {
  border-color: #ffffff;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.3);
}

.search-buttons {
  margin-top: 3rem;
}

.btn {
  width: 155px;
  height: 35px;
  border: 1px solid transparent;
  border-radius: 5px;
  margin: 1rem;
  background-color: #f8f9fa;
  color: #3c4043;
  font-size: 1.4rem;
}

.btn:hover {
  border-color: #dadce0;
}



/* Media queries */
@media (max-height: 550px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
  }

  .btn {
    width: 105px;
    height: 25px;
    border: 0.5px solid transparent;
    border-radius: 5px;
    margin: 1rem;
    background-color: #f8f9fa;
    color: #3c4043;
    font-size: 1.1rem;
  }
}
@media (max-width: 800px) {
  .logo {
    width: 125px;
  }

  .searchbar {
    width: 290px;
  }

  .flink {
    padding-left: 0.7rem;
    padding-right: 1rem;
  }

  .search-buttons {
    width: 100px;
  }
}